{% extends 'base.html' %}

{% block content %}
<div class="account-main">
    <i class="fa-solid fa-user fa-4x"></i>
    {% if user.is_authenticated %}
        <p class="mypage-name">{{ user.username }} さん</p>
        <div class="line"></div>
        <p class="mypage-bio">{{ user.bio }}</p>
        <a class="edit-profile-button" href="/edit_profile">プロフィールを編集</a>
    {% else %}
        名無しさん
        <p>ログインは<a style="color: rgb(6, 172, 255);" href="{% url 'core:login' %}">こちら</a></p>
        💡ログインしなくても当サービスはご利用いただけますが、一部機能の制限があります。
</div>
{% endif %}
{% endblock %}