{% extends 'account_base.html' %}
{% load static %}

    {% block content %}
    <section class="pb-4 pt-3">
        <div class="bg-white border rounded-5">
          
          <section class="w-100 p-4 d-flex justify-content-center ps-3 pb-4">
            <div style="width: 26rem;">
              <!-- Pills navs -->
              <ul class="nav nav-pills nav-justified mb-3" id="ex1" role="tablist">
                <li class="nav-item" role="presentation">
                  <a class="nav-link" id="tab-login" data-mdb-toggle="pill" href="login" role="tab" aria-controls="pills-login" aria-selected="false" tabindex="-1">Login</a>
                </li>
                <li class="nav-item" role="presentation">
                  <a class="nav-link active" id="tab-register" data-mdb-toggle="pill" href="register" role="tab" aria-controls="pills-register" aria-selected="true">Register</a>
                </li>
              </ul>
              <!-- Pills navs -->
      
              <!-- Pills content -->
              <div class="tab-content">
            
                <div class="tab-pane fade active show" id="pills-register" role="tabpanel" aria-labelledby="tab-register">
                  <form action="register" method="post">
                    <div class="text-center mb-3">
                      <p>Sign up with:</p>
                      <button type="button" class="btn btn-link btn-floating mx-1">
                        <i class="fab fa-facebook-f"></i>
                      </button>
      
                      <button type="button" class="btn btn-link btn-floating mx-1">
                        <i class="fab fa-google"></i>
                      </button>
      
                      <button type="button" class="btn btn-link btn-floating mx-1">
                        <i class="fab fa-twitter"></i>
                      </button>
      
                      <button type="button" class="btn btn-link btn-floating mx-1">
                        <i class="fab fa-github"></i>
                      </button>
                    </div>
      
                    <p class="text-center">or:</p>
      
                    <!-- Username input -->
                    {% csrf_token %}
                    <div class="form-outline mb-4">
                      <input type="text" id="registerUsername" class="form-control" name="username">
                      <label class="form-label" for="registerUsername" style="margin-left: 0px;">Username</label>
                    <div class="form-notch"><div class="form-notch-leading" style="width: 9px;"></div><div class="form-notch-middle" style="width: 66.4px;"></div><div class="form-notch-trailing"></div></div></div>
      
                    <!-- Email input -->
                    <div class="form-outline mb-4">
                      <input type="email" id="registerEmail" class="form-control" name="email">
                      <label class="form-label" for="registerEmail" style="margin-left: 0px;">Email</label>
                    <div class="form-notch"><div class="form-notch-leading" style="width: 9px;"></div><div class="form-notch-middle" style="width: 40px;"></div><div class="form-notch-trailing"></div></div></div>
      
                    <!-- Password input -->
                    <div class="form-outline mb-4">
                      <input type="password" id="registerPassword" class="form-control" name="password">
                      <label class="form-label" for="registerPassword" style="margin-left: 0px;">Password</label>
                    <div class="form-notch"><div class="form-notch-leading" style="width: 9px;"></div><div class="form-notch-middle" style="width: 64.8px;"></div><div class="form-notch-trailing"></div></div></div>
                    <!-- Checkbox -->
                    <div class="form-check d-flex justify-content-center mb-4">
                      <input class="form-check-input me-2" type="checkbox" value="" id="registerCheck" checked="" aria-describedby="registerCheckHelpText">
                      <label class="form-check-label" for="registerCheck">
                        記憶しますか？
                      </label>
                    </div><!-- Submit button -->
                    <input type="submit" value="登録" class="btn btn-primary btn-block mb-3">
                  </form>
                </div>
              </div>
              <!-- Pills content -->
            </div>
        </section>
        {% endblock %}