html{
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
}

body{
    display: flex;
    width: 100%;
}

span{
    margin: 10px;
}

a{
    list-style: none;
    text-decoration: none;
    color: black;
}
.sidebar{
    width: 18%;
    background-color: white;
    padding: 3px;
    padding-top: 5px
}
.sidebar-under{
    position: sticky;
}
.sidebar-style{
    margin: 0 auto;
    padding: 10px;
    width: 95%;
}
.search{
    border: solid;
    border-radius: 5px;
}
.sidebar-child{
    margin-top: 10px;
    border-radius: 5px;
}
.sidebar-child:hover{
    background-color: rgba(128, 128, 128, 0.2);
}
.spacer{
    width: 95%;
    height: 32.5vh;
}
.line{
    border: solid 0.25px;
}


.content{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color:rgba(128, 128, 128, 0.216);
    font-family: 'Noto Sans JP', sans-serif;
    color: black;
    width: 100%;
    overflow-y: scroll;
}

.catchcopy{
    font-size: 1.5em;
}
.name{
    font-family: 'Roboto', sans-serif;
}

.account-main{
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* 検索結果 */
.result{
    width: 70%;
    display: flex;

}

.result:hover{
    background-color: rgba(128, 128, 128, 0.2);
}
.detail{
    width: fit-content;
}
.video-detail{
    width: 100%;
}