{% extends 'base.html' %} 
{% block content %}
<!-- wrapper -->

<!-- コンテンツ表示 -->
<div class="two-column-wrapper" style="display: flex; width: 100%;">
<div class="detail-wrapper" style="width: 75%; padding-right: 1.5rem;">
    <div class="detail">
      {% if file_type == 'image' %}
        <img class="img-fluid" src="media/{{ detail.uploadedFile }}" alt="{{ detail.title }}"/>

      {% elif file_type == 'video' %}
        <div class="ratio ratio-16x9 video-detail p-0 m-0 bg-black" style="width: 100%; display: flex; justify-content: center;">
          <video id="video" src="media/{{ detail.uploadedFile }}#t=0.001"  autoplay playsinline controls >
            <p>ブラウザが古いため表示できません。IEを使用している場合は他のブラウザをお試しください.</p>
          </video>
        </div>

      {% elif file_type == 'text' %}
        <div class="text-detail" style="background-color: #00540033;">{{ detail.uploadedFile.read.decode}}
        </div>

      {% endif %}

<!-- コンテンツ詳細 -->
      <div class="file-name-date">

        <div>
          <h1 style="font-weight: 700">{{detail.file_name}}</h1>
        </div>
        <div style="display: flex; justify-content: space-between; ">
          <p style="opacity: 0.6">{{detail.dateTimeOfUpload}}
          再生数:{{ detail.view_count }}回</p>
          <div style="display: flex; justify-content: space-between; font-size: 1.1rem;">
            <p>#{{detail.tag1}} #{{detail.tag2}} #{{detail.tag3}}</p>
          </div>
          <div style="display: flex;">
            <div class="thumbs detail-child">
              <label class="thumbs-up">
                <input type="radio" name="thumb up" id="btn" />
                <i class="fa-regular fa-thumbs-up fa-2x"></i>
                <input type="radio" name="thumb down" id="btn" />
                <i class="fa-regular fa-thumbs-down fa-2x"></i>
              </label>
            </div>
            <a href="https://twitter.com/share?
            url={{ request.build_absolute_uri }}/&
            text=あなたの隠れ家:KAKUREGA" 
            rel="nofollow" 
            target="_blank"
            >
            <i class="bi bi-twitter twitter-icon"></i>
          </a>

            <div class="detail-child">
              <i class="bi bi-share"></i>共有</div>
          </div>
        </div>
      </div>
      <div class="description">
        <p class="m-0">{{ detail.description }}</p>
      </div>



      <div class="comment-field">
      {% for comment in comments %}
      <div class="comment-profile">
        <i class="bi bi-person-circle" style="font-size: 3rem; padding-right: 1rem; display: flex; align-items: flex-start;"></i>
        <div>
          <div>
            <p class="comment-name">{{ comment.name }}</p>
          </div>
          <div>
            <p class="comment-body">{{ comment.body }}</p>
            <p class="comment-created_at">{{ comment.created_at }}</p>
          </div>
        </div>
      </div>
      {% endfor %}
      </div>
        <script>
        comments = Comment.objects.filter(document=document)
        </script>
    </div>
</div>
<div class="free-space">
  <div>フリースペース</div>
</div> 
</div>

{% endblock %}
