{% extends 'base.html' %} {% load static %} {% block content %}
<!-- スライダー用 -->
<link href="https://cdn.jsdelivr.net/npm/@splidejs/splide@4.1.4/dist/css/splide.min.css" rel="stylesheet">
<script src="https://cdn.jsdelivr.net/npm/@splidejs/splide@4.1.4/dist/js/splide.min.js"></script>
<!-- スライダー用終了 -->
<!-- スライダー -->

<style>
  .main-container{
    padding-left: 0!important;
    padding-right: 0!important;
  }
</style>

<section id="image-carousel" class="splide" aria-label="ヘッダーカルーセル">
  <div class="splide__track">
		<ul class="splide__list">
			<li class="splide__slide">
				<img src="{% static 'ひまわり.jpg' %}" alt="">
			</li>
			<li class="splide__slide">
				<img src="{% static '海岸.jpg' %}" alt="">
			</li>
			<li class="splide__slide">
				<img src="{% static 'windows.jpg' %}" alt="">
			</li>
      <li class="splide__slide">
				<img src="{% static 'テキスト.png' %}" alt="">
			</li>
		</ul>
  </div>
</section>
<!-- ランキング -->
<div class="header-tag box" style="margin: 1rem;" >
  <a href="game" class="header-tags">ゲーム実況</a>
  <a href="live-action" class="header-tags">実写</a>
  <a href="3dcg" class="header-tags">3DCG</a>
  <a href="difference" class="header-tags">差分</a>
  <a href="hoge" class="header-tags">スペース</a>
  <a href="hoge" class="header-tags">スペース</a>
  <a href="hoge" class="header-tags">スペース</a>
  <a href="hoge" class="header-tags">スペース</a>
  <a href="hoge" class="header-tags">スペース</a>
  <a href="hoge" class="header-tags">スペース</a>
  <a href="hoge" class="header-tags">スペース</a>
  <a href="hoge" class="header-tags">スペース</a>
  <a href="hoge" class="header-tags">スペース</a>
  <a href="hoge" class="header-tags">スペース</a>
  <a href="hoge" class="header-tags">スペース</a>
  <a href="hoge" class="header-tags">スペース</a>
  <a href="hoge" class="header-tags">スペース</a>
  <a href="hoge" class="header-tags">スペース</a>
  <a href="hoge" class="header-tags">スペース</a>
  <a href="hoge" class="header-tags">スペース</a>
  <a href="hoge" class="header-tags">スペース</a>
  <a href="hoge" class="header-tags">スペース</a>
  
</div>
<!-- ランキング終了 -->
<div class="pt-3" style="padding-left: 2rem; padding-right: 2rem;">
<!-- スライダー -->
<!-- アップロードコンテンツ -->
【アップロードコンテンツ】
<ul class="m-0 p-0" style="display: flex; flex-direction: row; flex-wrap: wrap; justify-content: space-between;">
    {% for document in files %} 
    <li class="p-0 pb-3 mb-3" style="list-style: none; width: fit-content; height: 16rem;">
      <a
        href="{{ document.id }}"
        class="card card-fix"
        style="width: 100%; text-decoration: none; color: black; height: 16rem; overflow: hidden"
      >
        {% if document.content_type == "video/mp4" %}
        <video control autoplay muted style="width: 100%; height: 70%; background-color: black;">
          <source
            alt="カードの動画"
            src="{{ document.uploadedFile.url }}#t=10"
            type="video/mp4"
          />
        </video>
        {% elif document.content_type == "text/plain" %}
        <img
          src="{% static 'テキスト.png' %}"
          alt="カードのテキスト画像"
          style="width: 100%; height: 70%; border-bottom: solid 1px rgb(200, 200, 200);"
        />
        {% else %}
        <img
          src="{{ document.uploadedFile.url }}"
          alt="カードの画像"
          style="width: 100%; height: 70%; border-bottom: solid 1px;"
        />
        {% endif %}
        <div class="ps-2" style="display: flex; align-items: center;">
          <i class="bi bi-person-circle" style="font-size: 3rem;"></i>
          <p class="ps-2 pe-3 m-0" style="height: fit-content; font-size: large;">{{ document.title }}</p>
        </div>
      </a>
    </li>
    {% endfor %}
  </ul>
<!-- アップロードコンテンツ終了 -->
<!-- スライダー用JS -->
<script>
document.addEventListener( 'DOMContentLoaded', function () {
  new Splide( '#image-carousel', {
    heightRatio: 0.2,
    type: 'loop',
    perPage: 1,
    gap: ' 1rem',
    padding: '10rem',
    speed: 1000,
    breakpoints: {
			640: {
        cover: true,
        heightRatio: 0.3,
				perPage: 1,
        padding: 0,
        gap: 0,
			},
		},
  } ).mount();
} );
</script>
<!-- スライダー用JS終了 -->
</div>
{% endblock %}
