{% extends 'base.html' %} {% load static %} {% block content %}
<!-- スライダー用 -->
<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.9.0/slick.css"/>
<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.9.0/slick-theme.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.9.0/slick.min.js"></script>
<script src="{% static 'style.js' %}"></script>
<!-- スライダー用終了 -->
<!-- スライダー -->
<div class="slider">   
  <div><img src="{% static 'ひまわり.jpg' %}"></div>
  <div><img src="{% static '海岸.jpg' %}"></div>   
  <div><img src="{% static 'windows.jpg' %}"></div>
  <div><img src="{% static 'ひまわり.jpg' %}"></div>
  <div><img src="{% static '海岸.jpg' %}"></div>   
  <div><img src="{% static 'windows.jpg' %}"></div>
  <div><img src="{% static 'ひまわり.jpg' %}"></div>
  <div><img src="{% static '海岸.jpg' %}"></div>   
  <div><img src="{% static 'windows.jpg' %}"></div>
</div>
<!-- スライダー -->
<!-- ランキング -->
  <div>
    <a href="ranking" style="text-decoration: none; background-color: hotpink; width: 10rem; height: 10rem;"><h3>ランキングはこちら！</h3></a>
  </div>
<!-- ランキング終了 -->
<!-- アップロードコンテンツ -->
<h1>【アップロードコンテンツ】</h1>
<ul class="m-0 p-0" style="display: flex; flex-direction: row; flex-wrap: wrap; justify-content: space-between;">
    {% for document in files %} 
    <li class="p-0 pb-3 mb-3" style="list-style: none; width: fit-content; height: 16rem;">
      <a
        href="{{ document.id }}"
        class="card card-fix"
        style="width: 20rem; text-decoration: none; color: black; height: 16rem; overflow: hidden"
      >
        {% if document.content_type == "video/mp4" %}
        <video control autoplay muted style="width: 100%; height: 70%; background-color: black;">
          <source
            alt="カードの動画"
            src="{{ document.uploadedFile.url }}#t=10"
            type="video/mp4"
          />
        </video>
        {% elif document.content_type == "text/plain" %}
        <img
          src="{% static 'テキスト.png' %}"
          alt="カードのテキスト画像"
          style="width: 100%; height: 70%; border-bottom: solid 1px rgb(200, 200, 200);"
        />
        {% else %}
        <img
          src="{{ document.uploadedFile.url }}"
          alt="カードの画像"
          style="width: 100%; height: 70%; border-bottom: solid 1px;"
        />
        {% endif %}
        <div class="ps-2" style="display: flex; align-items: center;">
          <i class="bi bi-person-circle" style="font-size: 3rem;"></i>
          <p class="ps-2 pe-3 m-0" style="height: fit-content; font-size: large;">{{ document.title }}</p>
        </div>
      </a>
    </li>
    {% endfor %}
  </ul>
<!-- アップロードコンテンツ終了 -->
<!-- スライダー用JS -->
  <script>
    $('.slider').slick({
        autoplay: true,       //自動再生
        autoplaySpeed: 2000,  //自動再生のスピード
        speed: 800,           //スライドするスピード
        dots: true,           //スライド下のドット
        arrows: true,         //左右の矢印
        infinite: true,       //永久にループさせる
        centerMode: true
    });
</script>
<!-- スライダー用JS終了 -->
{% endblock %}
