{% extends 'base.html' %}
{% block content %}
<span>アップロード</span>
<form id="file-input" action="{% url 'core:uploadFile' %}" method="POST" enctype="multipart/form-data">

    <script>
        window.addEventListener('DOMContentLoaded', ()=>{
    document.querySelector('#file-input').addEventListener('submit',e=>{
        var files=[].filter.call(e.target.querySelectorAll('[type=file]'),x=>x.value!=="");
        if(files.length==0){
        e.preventDefault();
        alert('ファイルが選択されてないよ');
        }
    });
});
    </script>
    
    <div class="input-1">
        <input class="file-title form-control" type="text" name="fileTitle" placeholder="タイトルを入力(任意)" maxlength="30">
        <input type="text" class="form-control" name="description" placeholder="概要を入力(任意)" maxlength="255">
        <input type="text" class="form-control" name="tag1" placeholder="ゲーム" maxlength="10">
        <input type="text" class="form-control" name="tag2" placeholder="イラスト" maxlength="10">
        <input type="text" class="form-control" name="tag3" placeholder="アニメーション" maxlength="10">
    </div>

    <div class="input-2">
            <label class="form-label">選択</label>
            <input class="form-control" size="80" type="file" name="uploadedFile">
        {% csrf_token %}
        <input class="form-control" type="submit" value="アップロード">
    </div>

</form>
{% endblock %}