    {% load django_bootstrap5 %}
    {% load static %}
    <!DOCTYPE html>
    <html lang="ja">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <script src="https://kit.fontawesome.com/7244181866.js" crossorigin="anonymous"></script>
        <link rel="stylesheet" href="https://kit.fontawesome.com/7244181866.css" crossorigin="anonymous">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.0/font/bootstrap-icons.css">
        <link href="http://vjs.zencdn.net/5.10.8/video-js.css" rel="stylesheet">
        {% bootstrap_css %}
        {% bootstrap_javascript %}
        <link rel="stylesheet" href="{% static 'bootstrap_fix.css' %}">
        <script src="{% static 'style.js' %}"></script>
        <title>KAKUREGA</title>
    </head>
    <body>
<!-- ヘッダー -->
      <nav class="navbar navbar-light bg-light p-2" style="position:fixed">
        <div class="d-flex col-12 col-md-3 col-lg-2 mb-2 mb-lg-0 flex-wrap flex-md-nowrap flex-item">
          <i class="bi bi-list me-2 ms-2 mb-0 h3 p-1 list-style sidebar-toggler sidebar-bg"></i>   
            <a class="navbar-brand" href="/">
                <img src="{% static 'icon.png' %}" alt="" width="30" height="24" class="d-inline-block align-text-top"> KAKUREGA
            </a>
        </div>
          <form method="get" id="search" class="col-12 col-md-4 col-lg-2" action="search" action="" required>
            <input type="text" name="keyword" class="form-control" placeholder="タイトルで検索" required>
          </form>
      </nav>
<!-- ヘッダー終了 -->
<!-- ヘッダースペース -->
      <div class="headder-spacer"></div>
<!-- ヘッダースペース終了 -->

<!-- サイドバー -->
            <nav id="sidebar" class="col-md-3 col-lg-2 d-md-block bg-light sidebar pe-1 ps-1 sidebar">
                <!-- sidebar content goes in here -->
              <div class="flex-between">
                <ul class="ps-0 text-left">
                  <div class="sidebar-bg m-1 pt-2 pb-2 ps-3 pe-4">
                    <a href="/" class="sidebar-child"><li><p class="mb-0"><i class="bi bi-house-door"></i>&emsp;ホーム</p></li></a>
                  </div>
                  <div class="sidebar-bg m-1 pt-2 pb-2 ps-3 pe-4">
                    <a href="ranking" class="sidebar-child"><li><i class="fa-solid fa-crown"></i>&emsp;ランキング</li></a>
                  </div>
                  <div class="sidebar-bg m-1 pt-2 pb-2 ps-3 pe-4 mb-lg-1 flex">
                    <a href="mypage" class="sidebar-child"><li><i class="bi bi-person"></i>&emsp;アカウント</li></a>
                  </div>
                  <div class="sidebar-bg m-1 pt-2 pb-2 ps-3 pe-4">
                    <a href="upload" class="sidebar-child"><li><i class="bi bi-upload"></i>&emsp;アップロード</li></a>
                  </div>
                </ul>
              </div>
              <div class="spacer"></div>
              <div class="flex">
                <ul class="ps-0 text-left"></ul>
                  <div class="sidebar-bg m-1 pt-2 pb-2 ps-3 pe-4">
                    <a href="/" class="sidebar-child"><li><p class="mb-0"><i class="bi bi-gear"></i>&emsp;設定</p></li></a>
                  </div>
                </ul>
              </div>
            </nav>
<!-- サイドバー終了 -->

<!-- メインラッパー -->
        <main class="row w-100 h-100 m-0 p-0">
            <div class="main-container pt-3" style="padding-left: 2rem; padding-right: 2rem;">

<!-- 検索結果の表示 -->
                {% if keyword %}
                    <h4 class="mb-4">「{{ keyword }}の検索結果」</h4>
                {% endif %}
        
                {% for post in post_data %}
                <a class="result" href="{{ post.id }}">
                <div class="card mb-3">
                  <div class="row g-0">
                    <div class="col-5 col-sm-3 flex result-card">
                      <video src="media/{{ post.uploadedFile }}" class="img-fluid w-100" alt="card-horizontal-image" style="border-radius: 0.2rem;">
                    </div>
                    <div class="col-7 col-sm-8">
                      <div class="card-body">
                        <h4 class="card-title mb-0">{{ post.title }}</h4>
                        <p class="card-text"><small class="text-muted">再生数:{{ post.view_count }}回</small></p>
                        <p class="card-text">{{ post.description }}</p>
                      </div>
                    </div>
                  </div>
                </div>
              </a>
                {% endfor %}
<!-- 検索結果表示終了 -->

<!-- メインコンテンツ -->


                {% block content %}

                {% endblock %}
<!-- メインコンテンツ終了 -->
        </div>
    </div>
<!-- メインラッパー終了 -->

<!-- サイドバー用JS -->
      <script>
        let sidebar_toggler_btn = document.querySelector(".sidebar-toggler");
        let sidebar = document.querySelector('.sidebar');
        let sidebar_status = false;

        const sidebarToggler = () => {
          if (!sidebar_status) {
            sidebar.style.left = "0%";
            sidebar_status = true;
            return;
          }

          sidebar.style.left = "-100%";
          sidebar_status = false;
        };
        sidebar_toggler_btn.addEventListener("click", sidebarToggler);

        document.addEventListener('click' , (event) => {
          if(
            event.target != sidebar &&
            event.target != sidebar_toggler_btn &&
            sidebar_status == true
          ){
            sidebar.style.left = "-100%";
            sidebar_status = false;
          }
        })
      </script>
<!-- サイドバー用JS終了 -->
<!-- 動画プレイヤー -->
    <script src="http://vjs.zencdn.net/5.10.8/video.js"></script>
<!-- 動画プレイヤー終了 -->
  </body>
</html>